.menu-header {
  padding: 30px;
  font-size: 35px;
  width: 10px;
}

.menu-header :hover {
  cursor: pointer;
  margin-left: 15px;
}

header {
  width: 100%;
  height: 80px;
  background-color: #FF6600;
}

.logo-header img {
  width: 100px;
  height: 50px;
}

.logo-header {
  margin-left: auto; 
  margin-right: auto;
}
